
.container
{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#153677, #4e085f);
    padding: 10px;
}
.to-do
{
    
    width: 100%;
    background: #fff;
    max-width: 540px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.to-do h2{
   display: flex;
   align-items: center;

}
.to-do img
{
width: 30px;
margin-left: 10px;
}
.add-task
{
    display: flex;
    justify-content: space-between;
    background: #edeef0;
    padding-left: 20px;
    border-radius: 30px;
    margin-left: 20px;
}
.add-task input
{
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    background: transparent;

}
.add-task button
{
    background: #ff5945;
    padding: 16px 50px;
    border-radius: 30px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}
.list
{
    margin-top: 10px;
}
 ul li
{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
 ul li::before
{
    content: '';
    position: absolute;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    background-image: url(unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked
{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before
{
    content: '';
    position: absolute;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    background-image: url(checked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li span
{
    position: absolute;
    right: 0;
    top :5px;
    width: 40px;
    height: 40px;
    color:#555;
    text-align: center;
    line-height: 40px
}
span:hover
{
    background-color: #edeef0;
  border-radius: 50%;
}

